---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Bio from '../../components/Bio.astro';
import getPostData from '../../utils/getPostData';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../data/blog-posts/*.md');
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <header>
    <!-- <p>{publishDate}</p> -->
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />

<a href='#top'>
<div id='toTop'>
<img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/arrow_up_icon_128943.png">
</div></a>

    <Bio />
  </div>
</BaseLayout>

<style>

div#toTop {
width: 50px; height: 50px;
background-color: white; border: 1pt solid gainsboro; border-radius: 10px; margin-left: 91%;
｝
#toTop img {
filter:
opacity(0.6);
｝

  .container {
    box-shadow: #0003 0px 8px 2px -2px!important;
  }

  header {
    text-align: center;
    width: 75%;
    margin: 0 auto;
  }



  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
