---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Bio from '../../components/Bio.astro';
import getPostData from '../../utils/getPostData';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../data/blog-posts/*.md');
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <header>
    <!-- <p>{publishDate}</p> -->
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="container">
    <article class="content">
      <Content />
    </article>
    <hr />
    <Bio />
  </div>
  <p>If you enjoyed this blog post, consider <a href="https://dub.sh/SYe1qWe">supporting me on Ko-Fi</a>! <img src="/assets/socials/kofi.gif" width="20px" height="20px" alt="Support me on Ko-Fi"></p>
  
</BaseLayout>

<style>
  .container {
    box-shadow: #0003 0px 8px 2px -2px!important;
  }

  main header {
    width: 75%;
    margin: 0 auto;
  } 

  header {
    text-align: center;
  }

  /* header h1 {
    margin-bottom: 0.7em;
  } */

  h1 {
    width: 70%;
    margin: 0 auto;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>

<style>
/* Basic table styles */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  margin: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Table header styling */
thead {
  background-color: #009879;
  color: white;
}

thead th {
  padding: 12px;
  text-align: left;
}

/* Table body styling */
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Table cell styling */
td, th {
  padding: 12px;
}

/* Active row styling */
tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  thead {
    display: none;
  }

  tbody tr {
    margin-bottom: 10px;
    border-bottom: none;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, auto));
    gap: .5em;
    text-align:left;
    align-items:center
   }
  
   tbody td::before {
     content: attr(data-label);
     font-weight:bold
   }
}
</style>

