---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Bio from '../../components/Bio.astro';
import getPostData from '../../utils/getPostData';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../data/blog-posts/*.md');
  return posts.map(p => ({
    params: { slug: p.file.split('/').pop().split('.').shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter, headings } = Astro.props.post;
const { title, description, publishDate } = frontmatter;
const { slug } = getPostData(Astro.props.post);
const permalink = `${Astro.site.href}${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <header>
    <!-- <p>{publishDate}</p> -->
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="layout">
    <nav class="toc">
      <ul>
        {headings.map((heading) => (
          <li style={`margin-left: ${heading.depth * 10}px;`}>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))}
      </ul>
    </nav>
    <div class="container">
      <article class="content">
        <Content />
      </article>
      <hr />
      <p>Enjoyed this blog post? Consider <a href="https://dub.sh/SYe1qWe">supporting me on Ko-Fi</a>! 
        <img id="kofi-gif" src="/assets/socials/kofi.gif" width="50px" height="50px" alt="Support me on Ko-Fi">
      </p>
      <Bio />
    </div>
  </div>
</BaseLayout>

<style>
.layout {
  display: flex;
}

.toc {
  position: sticky;
  top: 100px;
  width: 200px;
  margin-right: 20px;
}

.toc ul {
  list-style: none;
  padding: 0;
}

.toc li {
  margin-bottom: 8px;
}

.toc a {
  text-decoration: none;
  color: var(--link-color);
}

.container {
  box-shadow: #0003 0px 8px 2px -2px!important;
  flex-grow: 1;
}

main header {
  width: 75%;
  margin: 0 auto;
} 

header {
  text-align: center;
}

h1 {
  width: 70%;
  margin: 0 auto;
}

header p {
  color: var(--text-secondary);
  text-transform: uppercase;
  font-family: var(--font-family-sans);
  font-weight: 600;
}

header hr {
  min-width: 100px;
  width: 30%;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Basic table styles */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  margin: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Table header styling */
thead {
  background-color: #009879;
  color: white;
}

thead th {
  padding: 12px;
}

/* Table body styling */
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Table cell styling */
td, th {
  padding: 12px;

/* Responsive adjustments */
@media (max-width:600px){
table,thead tbody td tr{
display:block width100%
``
