---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site.href}blog`;

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout title={title} description={description} permalink={permalink} current="blog">
  <div class="container">

    <h1>Blog</h1>
    <!-- <hr> -->
    <!-- <div class="tags-filter">
      <h2>Tags</h2>
      <br>
      <button class="tag-btn">Data Visualization</button>
      <button class="tag-btn">Coding</button>
    </div> -->
    
    {allPosts.map((post, index) => {
      const href = `/blog/${post.file.split('/').pop().split('.').shift()}`;
      const tags = post.frontmatter.tags;
      const colors = {
        
      }
      return (
      
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <h2>
              <a href={href}>{post.frontmatter.title}</a>
            </h2>
            <p>{post.frontmatter.description}</p>

            
            <div class="post-item-footer">
              
              {tags.map((tag) => (
                <>
                  <div class="post-tag">{tag}</div>
                </>
              ))}

            </div>
          </div>
        </div>

        
      )
    })}
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
    display: flex;
  }

  .post-item-footer div {
    margin-left: 5px;
  }

  .post-item p {
    font-size: 1.2rem;
  }

  .post-tag {
    background-color: var(--primary-color);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    color: white;
}

  

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }
  
  .tag-btn {
    border-radius: 10px;
    background-color: var(--primary-color);
    padding: 10px;
    color: white;
    box-shadow: 0px 0px 0px 0px;
    font-family: var(--font-family-sans);
    font-weight: 700;
    /* border-style: none; */
    font-size: 16px;
  }

  .tags-filter {
  }
</style>
