---
import '../styles/fonts.css'
import '../styles/global.css'

export interface Props {
  title: string;
  description: string;
  permalink: string;
}

const { title, description, permalink } = Astro.props;
const socialUrl = Astro.site.href + 'assets/social.png';

import { ClientRouter } from "astro:transitions";


// let themeHex = '';
// if ()
---
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />


<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialUrl} />

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">


<!-- This is intentionally inlined to avoid FOUC -->
<script is:inline>
  const root = document.documentElement;
  const theme = localStorage.getItem('theme');
  console.log(root,theme);
  
  if (theme === 'dark' || (!theme) && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    root.classList.add('theme-dark');
  } else {
    root.classList.remove('theme-dark');
  }
</script>

<!-- Google Tags -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7131645589576836"
crossorigin="anonymous"></script>
<meta name="google-adsense-account" content="ca-pub-7131645589576836">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4HG7DN7EG2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4HG7DN7EG2');
</script>

<script>
  const elements = ['github', 'linkedin', 'appstore', 'kofi'];
  console.log(elements)

elements.forEach(id => {
const image = document.getElementById(id);
const label = document.getElementById(`${id}label`);

// Check if both elements exist to avoid null reference errors
if (image && label) {
  ['mouseenter', 'mouseleave'].forEach(eventType => {
    image.addEventListener(eventType, () => {
      // Adjust opacity based on the event type
      label.style.opacity = eventType === 'mouseenter' ? '1' : '0';
      console.log("hover")
    });
  });
}
});
</script>

<!-- Transition -->
<ClientRouter />

<!-- Kofi  -->
